<?xml version="1.0" ?>
<robot name="ur5e_2f85">
  <!-- Material Definitions -->
  <material name="black">
    <color rgba="0.033 0.033 0.033 1.0"/>
  </material>
  <material name="jointgray">
    <color rgba="0.278 0.278 0.278 1.0"/>
  </material>
  <material name="linkgray">
    <color rgba="0.82 0.82 0.82 1.0"/>
  </material>
  <material name="urblue">
    <color rgba="0.49 0.678 0.8 1.0"/>
  </material>
  <material name="metal">
    <color rgba="0.58 0.58 0.58 1.0"/>
  </material>
  <material name="silicone">
    <color rgba="0.1882 0.1882 0.1882 1.0"/>
  </material>
  <material name="gray">
    <color rgba="0.4627 0.4627 0.4627 1.0"/>
  </material>
  <material name="2f85_black">
    <color rgba="0.149 0.149 0.149 1.0"/>
  </material>

  <!-- World Link -->
  <link name="world"/>
  <joint name="virtual_joint" type="fixed">
    <parent link="world"/>
    <child link="base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Base Link -->
  <link name="base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="4.0"/>
      <inertia ixx="0.00443333156" ixy="0" ixz="0" iyy="0.00443333156" iyz="0" izz="0.0072"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/base_0.obj"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/base_1.obj"/>
      </geometry>
      <material name="jointgray"/>
    </visual>
  </link>

  <!-- Shoulder Pan Joint & Link -->
  <joint name="shoulder_pan_joint" type="revolute">
    <origin xyz="0 0 0.163" rpy="0 0 0"/>
    <parent link="base"/>
    <child link="shoulder_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" effort="150.0" velocity="3.14159"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="shoulder_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="3.7"/>
      <inertia ixx="0.0102675" ixy="0" ixz="0" iyy="0.0102675" iyz="0" izz="0.00666"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/shoulder_0.obj"/>
      </geometry>
      <material name="urblue"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/shoulder_1.obj"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/shoulder_2.obj"/>
      </geometry>
      <material name="jointgray"/>
    </visual>
    <collision>
      <origin xyz="0 0 -0.04" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="0.12"/>
      </geometry>
    </collision>
  </link>

  <!-- Shoulder Lift Joint & Upper Arm Link -->
  <joint name="shoulder_lift_joint" type="revolute">
    <origin xyz="0 0.138 0" rpy="0 1.57079632679 0"/>
    <parent link="shoulder_link"/>
    <child link="upper_arm_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-6.28319" upper="6.28319" effort="150.0" velocity="3.14159"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="upper_arm_link">
    <inertial>
      <origin xyz="0 0 0.2125" rpy="0 0 0"/>
      <mass value="8.393"/>
      <inertia ixx="0.133886" ixy="0" ixz="0" iyy="0.133886" iyz="0" izz="0.0151074"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/upperarm_0.obj"/>
      </geometry>
      <material name="linkgray"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/upperarm_1.obj"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/upperarm_2.obj"/>
      </geometry>
      <material name="jointgray"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/upperarm_3.obj"/>
      </geometry>
      <material name="urblue"/>
    </visual>
    <collision>
      <origin xyz="0 -0.04 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.4"/>
      </geometry>
    </collision>
  </link>

  <!-- Elbow Joint & Forearm Link -->
  <joint name="elbow_joint" type="revolute">
    <origin xyz="0 -0.131 0.425" rpy="0 0 0"/>
    <parent link="upper_arm_link"/>
    <child link="forearm_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.1415" upper="3.1415" effort="150.0" velocity="3.14159"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="forearm_link">
    <inertial>
      <origin xyz="0 0 0.196" rpy="0 0 0"/>
      <mass value="2.275"/>
      <inertia ixx="0.0311796" ixy="0" ixz="0" iyy="0.0311796" iyz="0" izz="0.004095"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/forearm_0.obj"/>
      </geometry>
      <material name="urblue"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/forearm_1.obj"/>
      </geometry>
      <material name="linkgray"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/forearm_2.obj"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/forearm_3.obj"/>
      </geometry>
      <material name="jointgray"/>
    </visual>
    <collision>
      <origin xyz="0 0.08 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <cylinder radius="0.055" length="0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.38"/>
      </geometry>
    </collision>
  </link>

  <!-- Wrist 1 Joint & Link -->
  <joint name="wrist_1_joint" type="revolute">
    <origin xyz="0 0 0.392" rpy="0 1.57079632679 0"/>
    <parent link="forearm_link"/>
    <child link="wrist_1_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-6.28319" upper="6.28319" effort="28.0" velocity="6.28319"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="wrist_1_link">
    <inertial>
      <origin xyz="0 0.127 0" rpy="0 0 0"/>
      <mass value="1.219"/>
      <inertia ixx="0.0025599" ixy="0" ixz="0" iyy="0.0025599" iyz="0" izz="0.0021942"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/wrist1_0.obj"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/wrist1_1.obj"/>
      </geometry>
      <material name="urblue"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/wrist1_2.obj"/>
      </geometry>
      <material name="jointgray"/>
    </visual>
    <collision>
      <origin xyz="0 0.05 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.14"/>
      </geometry>
    </collision>
  </link>

  <!-- Wrist 2 Joint & Link -->
  <joint name="wrist_2_joint" type="revolute">
    <origin xyz="0 0.127 0" rpy="0 0 0"/>
    <parent link="wrist_1_link"/>
    <child link="wrist_2_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" effort="28.0" velocity="6.28319"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="wrist_2_link">
    <inertial>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <mass value="1.219"/>
      <inertia ixx="0.0025599" ixy="0" ixz="0" iyy="0.0025599" iyz="0" izz="0.0021942"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/wrist2_0.obj"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/wrist2_1.obj"/>
      </geometry>
      <material name="urblue"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/wrist2_2.obj"/>
      </geometry>
      <material name="jointgray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.04" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0.02 0.1" rpy="1.57079632679 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.08"/>
      </geometry>
    </collision>
  </link>

  <!-- Wrist 3 Joint & Link -->
  <joint name="wrist_3_joint" type="revolute">
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
    <parent link="wrist_2_link"/>
    <child link="wrist_3_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-6.28319" upper="6.28319" effort="28.0" velocity="6.28319"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="wrist_3_link">
    <inertial>
      <origin xyz="0 0.0771683 0" rpy="0 0 1.57079632679"/>
      <mass value="0.1889"/>
      <inertia ixx="0.000132134" ixy="0" ixz="0" iyy="9.90863e-05" iyz="0" izz="9.90863e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/wrist3.obj"/>
      </geometry>
      <material name="linkgray"/>
    </visual>
    <collision>
      <origin xyz="0 0.08 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.04"/>
      </geometry>
    </collision>
  </link>

  <!-- Attachment Site -->
  <joint name="attachment_site_joint" type="fixed">
    <origin xyz="0 0.1 0" rpy="-1.57079632679 0 0"/>
    <parent link="wrist_3_link"/>
    <child link="attachment_site"/>
  </joint>
  <link name="attachment_site"/>

  <!-- Robotiq 2F-85 Gripper -->
  <!-- Base Mount -->
  <joint name="base_mount_joint" type="fixed">
    <origin xyz="0 0.1 0" rpy="-1.57079632679 0 0"/>
    <parent link="wrist_3_link"/>
    <child link="base-mount"/>
  </joint>

  <link name="base-mount">
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/base_mount.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/base_mount.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- 2F-85 Base -->
  <joint name="2f85_base_joint" type="fixed">
    <origin xyz="0 0 0.0038" rpy="0 0 -1.57079632679"/>
    <parent link="base-mount"/>
    <child link="2f85-base"/>
  </joint>

  <link name="2f85-base">
    <inertial>
      <origin xyz="0 -2.70394e-05 0.0354675" rpy="-0.00305698 0 0"/>
      <mass value="0.777441"/>
      <inertia ixx="0.000260285" ixy="0" ixz="0" iyy="0.000225381" iyz="0" izz="0.000152708"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Pinch Site (TCP) -->
  <joint name="pinch_site_joint" type="fixed">
    <origin xyz="0 0 0.145" rpy="0 0 0"/>
    <parent link="2f85-base"/>
    <child link="pinch-site"/>
  </joint>
  <link name="pinch-site"/>

  <!-- Right Driver -->
  <joint name="right_driver_joint" type="revolute">
    <origin xyz="0 0.0306011 0.054904" rpy="0 0 0"/>
    <parent link="2f85-base"/>
    <child link="right-driver"/>
    <axis xyz="1 0 0"/>
    <limit lower="0.0" upper="0.8" effort="10.0" velocity="2.0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="right-driver">
    <inertial>
      <origin xyz="2.96931e-12 0.0177547 0.00107314" rpy="1.6422323 0 0"/>
      <mass value="0.00899563"/>
      <inertia ixx="1.72352e-06" ixy="0" ixz="0" iyy="1.60906e-06" iyz="0" izz="3.22006e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/driver.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/driver.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Right Coupler -->
  <joint name="right_coupler_joint" type="revolute">
    <origin xyz="0 0.0315 -0.0041" rpy="0 0 0"/>
    <parent link="right-driver"/>
    <child link="right-coupler"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.57" upper="0.0" effort="10.0" velocity="2.0"/>
    <mimic joint="right_driver_joint" multiplier="-1" offset="0"/>
    <dynamics damping="0.001" friction="0.0"/>
  </joint>

  <link name="right-coupler">
    <inertial>
      <origin xyz="0 0.00301209 0.0232175" rpy="0 0 0"/>
      <mass value="0.0140974"/>
      <inertia ixx="4.16206e-06" ixy="0" ixz="0" iyy="3.52216e-06" iyz="0" izz="8.88131e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/coupler.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/coupler.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Right Spring Link -->
  <joint name="right_spring_link_joint" type="revolute">
    <origin xyz="0 0.0132 0.0609" rpy="0 0 0"/>
    <parent link="2f85-base"/>
    <child link="right-spring-link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.2967" upper="0.8" effort="10.0" velocity="2.0"/>
    <mimic joint="right_driver_joint" multiplier="1" offset="0"/>
    <dynamics damping="0.00125" friction="0.0"/>
  </joint>

  <link name="right-spring-link">
    <inertial>
      <origin xyz="-8.65005e-09 0.0181624 0.0212658" rpy="0 0 0"/>
      <mass value="0.0221642"/>
      <inertia ixx="8.96853e-06" ixy="0" ixz="0" iyy="6.71733e-06" iyz="0" izz="2.63931e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/spring_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/spring_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Right Follower -->
  <joint name="right_follower_joint" type="revolute">
    <origin xyz="0 0.055 0.0375" rpy="0 0 0"/>
    <parent link="right-spring-link"/>
    <child link="right-follower"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.872664" upper="0.872664" effort="10.0" velocity="2.0"/>
    <mimic joint="right_driver_joint" multiplier="-1" offset="0"/>
    <dynamics damping="0.001" friction="0.0"/>
  </joint>

  <link name="right-follower">
    <inertial>
      <origin xyz="0 -0.011046 0.0124786" rpy="0.3328 0 0"/>
      <mass value="0.0125222"/>
      <inertia ixx="2.67415e-06" ixy="0" ixz="0" iyy="2.4559e-06" iyz="0" izz="6.02031e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/follower.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/follower.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Right Pad -->
  <joint name="right_pad_joint" type="fixed">
    <origin xyz="0 -0.0189 0.01352" rpy="0 0 0"/>
    <parent link="right-follower"/>
    <child link="right-pad"/>
  </joint>

  <link name="right-pad">
    <inertial>
      <origin xyz="0 -0.0025 0.0185" rpy="0 0 1.57079632679"/>
      <mass value="0.0035"/>
      <inertia ixx="4.73958e-07" ixy="0" ixz="0" iyy="3.64583e-07" iyz="0" izz="1.23958e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/pad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0026 0.028125" rpy="0 0 0"/>
      <geometry>
        <box size="0.022 0.008 0.01875"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 -0.0026 0.009375" rpy="0 0 0"/>
      <geometry>
        <box size="0.022 0.008 0.01875"/>
      </geometry>
    </collision>
  </link>

  <!-- Right Silicone Pad -->
  <joint name="right_silicone_pad_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right-pad"/>
    <child link="right-silicone-pad"/>
  </joint>

  <link name="right-silicone-pad">
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/silicone_pad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
  </link>

  <!-- Left Driver -->
  <joint name="left_driver_joint" type="revolute">
    <origin xyz="0 -0.0306011 0.054904" rpy="0 0 3.14159265359"/>
    <parent link="2f85-base"/>
    <child link="left-driver"/>
    <axis xyz="1 0 0"/>
    <limit lower="0.0" upper="0.8" effort="10.0" velocity="2.0"/>
    <mimic joint="right_driver_joint" multiplier="1" offset="0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="left-driver">
    <inertial>
      <origin xyz="0 0.0177547 0.00107314" rpy="1.6422323 0 0"/>
      <mass value="0.00899563"/>
      <inertia ixx="1.72352e-06" ixy="0" ixz="0" iyy="1.60906e-06" iyz="0" izz="3.22006e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/driver.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/driver.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Left Coupler -->
  <joint name="left_coupler_joint" type="revolute">
    <origin xyz="0 0.0315 -0.0041" rpy="0 0 0"/>
    <parent link="left-driver"/>
    <child link="left-coupler"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.57" upper="0.0" effort="10.0" velocity="2.0"/>
    <mimic joint="left_driver_joint" multiplier="-1" offset="0"/>
    <dynamics damping="0.001" friction="0.0"/>
  </joint>

  <link name="left-coupler">
    <inertial>
      <origin xyz="0 0.00301209 0.0232175" rpy="0 0 0"/>
      <mass value="0.0140974"/>
      <inertia ixx="4.16206e-06" ixy="0" ixz="0" iyy="3.52216e-06" iyz="0" izz="8.88131e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/coupler.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/coupler.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Left Spring Link -->
  <joint name="left_spring_link_joint" type="revolute">
    <origin xyz="0 -0.0132 0.0609" rpy="0 0 3.14159265359"/>
    <parent link="2f85-base"/>
    <child link="left-spring-link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.2967" upper="0.8" effort="10.0" velocity="2.0"/>
    <mimic joint="left_driver_joint" multiplier="1" offset="0"/>
    <dynamics damping="0.00125" friction="0.0"/>
  </joint>

  <link name="left-spring-link">
    <inertial>
      <origin xyz="-8.65005e-09 0.0181624 0.0212658" rpy="0 0 0"/>
      <mass value="0.0221642"/>
      <inertia ixx="8.96853e-06" ixy="0" ixz="0" iyy="6.71733e-06" iyz="0" izz="2.63931e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/spring_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/spring_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Left Follower -->
  <joint name="left_follower_joint" type="revolute">
    <origin xyz="0 0.055 0.0375" rpy="0 0 0"/>
    <parent link="left-spring-link"/>
    <child link="left-follower"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.872664" upper="0.872664" effort="10.0" velocity="2.0"/>
    <mimic joint="left_driver_joint" multiplier="-1" offset="0"/>
    <dynamics damping="0.001" friction="0.0"/>
  </joint>

  <link name="left-follower">
    <inertial>
      <origin xyz="0 -0.011046 0.0124786" rpy="0.3328 0 0"/>
      <mass value="0.0125222"/>
      <inertia ixx="2.67415e-06" ixy="0" ixz="0" iyy="2.4559e-06" iyz="0" izz="6.02031e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/follower.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/follower.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Left Pad -->
  <joint name="left_pad_joint" type="fixed">
    <origin xyz="0 -0.0189 0.01352" rpy="0 0 0"/>
    <parent link="left-follower"/>
    <child link="left-pad"/>
  </joint>

  <link name="left-pad">
    <inertial>
      <origin xyz="0 -0.0025 0.0185" rpy="0 0 1.57079632679"/>
      <mass value="0.0035"/>
      <inertia ixx="4.73958e-07" ixy="0" ixz="0" iyy="3.64583e-07" iyz="0" izz="1.23958e-07"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/pad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0026 0.028125" rpy="0 0 0"/>
      <geometry>
        <box size="0.022 0.008 0.01875"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 -0.0026 0.009375" rpy="0 0 0"/>
      <geometry>
        <box size="0.022 0.008 0.01875"/>
      </geometry>
    </collision>
  </link>

  <!-- Left Silicone Pad -->
  <joint name="left_silicone_pad_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="left-pad"/>
    <child link="left-silicone-pad"/>
  </joint>

  <link name="left-silicone-pad">
    <visual>
      <geometry>
        <mesh filename="file:///workspace/model/ur5e_2f85/assets/silicone_pad.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="2f85_black"/>
    </visual>
  </link>
</robot>
